<div class="modal fade" id="modal_user">
  <div class="modal-dialog">
    <div class="modal-content">


      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Cliente: </h4>
      </div>


      <form name="frmUser"
            ng-submit="guardar( userSel, frmUser )"
            novalidate="novalidate">

        <div class="modal-body">



          <div class="form-group">
            <label>Empresa: #{{userSel.id_business}} </label>
            <div class="form-group">
              <input type="hidden" ng-model="userSel.id_business">
            </div>
            <input type="text" name="element" id="element" ng-model="userSel.complete" ng-keyup="completeReg(userSel.complete)" class="form-control" placeholder="Ingrese la empresa" autocomplete="off" required />
            <ul class="list-group margin-top-0" ng-model="hidethis" ng-hide="hidethis">
                <li class="list-group-item select2" ng-repeat="elem in filterObj" ng-click="fillTextbox(elem)">#{{elem.id}}: {{elem.name}}</li>
            </ul>
          </div>

          <div class="form-group">
            <label>CI</label>
            <input type="text" class="form-control" placeholder="CI"
                ng-model="userSel.ci" required>
          </div>

          <div class="form-group">
            <label>Expedido</label>
            <select type="text" class="form-control supad" placeholder="Expedido"
                ng-model="userSel.ex" required>
                <option value="" disabled selected>Expedido </option>
                <option value="Ch">Chuquisaca</option>
                <option value="Pt">Potosi</option>
                <option value="Or">Oruro</option>
                <option value="Lp">La paz</option>
                <option value="Cb">Cochabamba</option>
                <option value="Sc">Santa Cruz</option>
                <option value="Tj">Tarija</option>
                <option value="Bn">Beni</option>
                <option value="Pa">Pando</option>
            </select>
          </div>


          <div class="form-group">
            <label>Nombre</label>
            <input type="text" class="form-control" placeholder="Nombre"
                ng-model="userSel.name" required>
          </div>

          <div class="form-group">
            <label>Apellido</label>
            <input type="text" class="form-control" placeholder="Apellido"
                ng-model="userSel.last_name" required>
          </div>

          <div class="form-group">
            <label>Correo</label>
            <input type="email" class="form-control" placeholder="ejemplo@algo.algo"
                ng-model="userSel.email" required>
          </div>

          <div class="form-group" ng-hide="userSel.id">
            <label>Contraseña</label>
            <input type="password" class="form-control" placeholder="*****"
                ng-model="userSel.pwd" required>
          </div>

          <div class="form-group">
            <label>Nivel</label>
            <select type="text" class="form-control" placeholder="Nivel de usuario"
                ng-model="userSel.type" required>
                <option value="jefev">Jefe Ventas</option>
                <option value="jefes">Supervisor de despacho</option>
                <option value="user">Cliente</option>
                <option value="opera">Operador</option>
            </select>
          </div>

        </div>



        <div class="modal-footer">
          <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Guardar</button>
        </div>

      </form>



    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
