<ol class="breadcrumb animated fadeIn fast">
    <li><a href="/imba"><i class="fa fa-dashboard"></i> Principal</a></li>
    <li class="active">Empresas</li>
</ol>
<!-- /.filtros -->
<div class="filtros">
<div class="busqueda linea b-largo">
  <label for="busqueda"><i class="fa fa-search mano" aria-hidden="true"></i></label>
  <input id="busqueda" type="text" placeholder="Busque aqui..." ng-model="busqueda">
</div>
</div>
<!-- /.Fin filtros -->

<div class="row">

	<div class="col-md-12">
	  <div class="box">
	    
	    <div class="box-header with-border">
	      <h3 class="box-title">Empresas</h3>
	
			<div class="box-tools hidden-xs">
	            <div class="input-group">
	              <a class="btn btn-primary"
	              	ng-click="mostrarModal({})"><i class="fa fa-plus"></i> Agregar empresas</a>
	            </div>
	        </div>

	    </div>
	    <!-- /.box-header -->
	    
	    <div class="box-body" ng-hide="load || !business.business.length">
	      
	      <table class="table table-bordered responsive-table-large">
			<thead>
				<tr>
					<th><a class="mano" ng-click="columna='id'; reverse = !reverse;">#</a></th>
					<th><a class="mano" ng-click="columna='name'; reverse = !reverse;">Nombre</a></th>
					<th><a class="mano" ng-click="columna='place'; reverse = !reverse;">Lugar</a></th>
					<th><a class="mano" ng-click="columna='account'; reverse = !reverse;">Cuenta</a></th>
					<th><a class="mano" ng-click="columna='active'; reverse = !reverse;">Activado</a></th>
					<th><a class="mano" ng-click="columna='fec'; reverse = !reverse;">Registrado</a></th>
					<th>Acción</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="em in business.business | filter:busqueda | orderBy:columna:reverse">
					<td>{{ em.id }}</td>
					<td>{{ em.name }}</td>
					<td>{{ em.place }}</td>
					<td>{{ em.account }}</td>
					<td ng-show="em.active == '1'" class="success"><i class="fa fa-check mano" aria-hidden="true"></i></td>
					<td ng-click="habilitar(em.id)" ng-show="em.active == '0'" class="danger mano"><i class="fa fa-times mano" aria-hidden="true"></i></td>
					<td>{{ em.fec | date:"fullDate" }}</td>

					<td>
						<a ng-click="mostrarModal( em )" class="btn btn-warning"><i class="fa fa-edit"></i></a>
						<a ng-click="eliminar( em.id )" ng-hide="em.id == '1'" class="btn btn-danger"><i class="fa fa-trash"></i></a>
					</td>
				</tr>
			</tbody>

	      </table>

	
		</div>
		<div class="box-body" ng-show="load">
			<div class="cargando">
				<i class="fa fa-spinner fa-pulse fa-2x fa-fw" aria-hidden="true"></i>
				Cargando...
			</div>
		</div>
		<div class="box-body" ng-show="!load && !business.business.length">
			<div class="cargando">
				Ingrese nuevos registros.
			</div>
		</div>

		<div class="box-footer clearfix" ng-show="business.total_paginas > 1">
          <ul class="pagination pagination-sm no-margin pull-right">
            <li><a class="mano" ng-click="moverA(1)">«</a></li>

			<li ng-repeat="pag in business.paginas"
				ng-class="{
					'active': business.pag_actual === pag
				}">
				<a class="mano" ng-click="moverA(pag)">{{ pag }}</a>
			</li>

            <li><a class="mano" ng-click="moverA( business.total_paginas )" >»</a></li>
          </ul>
        </div>



		</div>
	</div>

</div>



<div class="btn-agregar visible-xs" ng-click="mostrarModal({})"><i class="fa fa-paper-plane-o i-agregar" ></i></div>
<div ng-include="'public/business/views/modal.view.html'"></div>

